<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<style>
  html {
  height: 100%;
  }

  body {
  margin: 0;
  padding: 0;
  height: 100%;
  }
  .box {
    text-align: center;
    float: none;
  margin: 0 auto;
  border-style: solid;
  border-width: .25em;
  border-color: black;
  border-radius: 1em;
  padding-bottom: 1.75em;

  
  }
  .run {
    margin: 0 auto;
    text-align: left;
  }
</style>
</head>
<body>

<div class = "col-sm-6 box">

    <p id="notice"><%= notice %></p>

    <h1>Listing Users</h1>

    <table class = "run">
      <thead>
        <tr>
          <th>Name</th>
          <td>|</td>
          <th>Password</th>
          <td>|</td>
          <th>Email</th>
          <td>|</td>
          <th>Phonenumber</th>

          
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td></td>
            <td><%= user.password   %></td>
            <td></td>
            <td><%= user.email %></td>
            <td></td>
            <td><%= user.phonenumber %></td>
            

            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Sign Up', new_user_path %> 
    
    
    
    <%= link_to 'Login', "login" %> 
    
    <%= link_to 'Template', "profpage" %>

</div>

</body>
</html>
